<div class="cart-container">
  <div class="cart-title">
    <h1>Shopping Cart</h1>

  </div>

  <ng-container *ngIf="cartItems$ | async as items">
    <div class="items-container" *ngIf="items.length > 0; else emptyCart">
      <button mat-raised-button color="primary" class="clear-cart" (click)="clearCart()">
        <mat-icon>remove_shopping_cart</mat-icon>
        Clear Cart
      </button>
      <div class="cart-items">
        <mat-card *ngFor="let item of items" class="cart-item">
          <div class="item-content">
            <div class="item-image-container">
              <img [src]="item.product.imageUrl" [alt]="item.product.name" alt="Product Image" class="item-image">
            </div>
            <div class="item-details">
              <h2>{{item.product.name}}</h2>
              <p class="price">${{item.product.price.toFixed(2)}}</p>
              <p class="rating">Rating: {{item.product.rating}}/5</p>
            </div>
            <button mat-icon-button color="warn" (click)="removeItem(item.product.id)" class="remove-button">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>

      <div class="cart-summary">
        <h2>Order Summary</h2>
        <div class="total">
          <span>Total:</span>
          <span class="total-amount">${{cartTotal$ | async | number:'1.2-2'}}</span>
        </div>
        <button mat-raised-button color="primary" class="checkout-button">
          Proceed to Checkout
        </button>
      </div>
    </div>
  </ng-container>

  <ng-template #emptyCart>
    <div class="empty-cart">
      <mat-icon class="empty-cart-icon">shopping_cart</mat-icon>
      <p>Your cart is empty</p>
      <button class="continue-shopping-button" mat-raised-button color="primary" routerLink="/landing">
        Continue Shopping
      </button>
    </div>
  </ng-template>
</div>
