<div class="page-wrapper">
  <div class="container">
    <div class="filters">
      <form [formGroup]="filterForm">
        <div class="filter-section">
          <h3 class="relative"><mat-icon class="empty-cart-icon">search</mat-icon> <span>Search Products</span></h3>
          <mat-form-field appearance="outline" class="search-field">
            <mat-label>Search products</mat-label>
            <input matInput formControlName="searchText" placeholder="Search by name or type">
          </mat-form-field>
        </div>

        <div class="filter-section">
          <h3>Product Type</h3>
          <mat-form-field appearance="outline">
            <mat-label>Select Type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of productTypes$ | async" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="filter-section price-ranges">
          <h3>Price Ranges</h3>
          <div *ngFor="let range of priceRanges$ | async">
            <mat-checkbox [checked]="isRangeSelected(range.id)" (change)="togglePriceRange(range.id)">
              {{range.label}}
            </mat-checkbox>
          </div>
          <button type="button" mat-raised-button color="primary" class="clear-filter" (click)="clearFilter()">
            <mat-icon class="empty-cart-icon">filter_alt_off</mat-icon>Clear Filters
          </button>
        </div>
      </form>
    </div>

    <div class="products-grid">
      <h1 class="products-title">Products</h1>

      <ng-container *ngIf="products$ | async as products; else noProducts">
        <div *ngIf="products.length > 0; else noProducts" class="grid-container">
          <div *ngFor="let product of products$ | async" class="product-card">
            <mat-card>
              <div class="image-container" (click)="openProductDetails(product)">
                <img [src]="product.imageUrl" alt="Product Image" [alt]="product.name">
              </div>
              <mat-card-content>
                <h2>{{product.name}}</h2>
                <p class="price">${{product.price.toFixed(2)}}</p>
                <div class="rating">
                  {{product.rating}}/5
                  <button mat-raised-button color="primary" class="add-to-cart" (click)="addToCart(product)">
                    <mat-icon class="empty-cart-icon">add_shopping_cart</mat-icon>
                    Add to Cart
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </ng-container>
      <ng-template #noProducts>
        <p class="no-products-message">No products found.</p>
        <div class="clear-filter">
          <button mat-raised-button color="primary" class="clear-filter" (click)="clearFilter()">
            <mat-icon class="empty-cart-icon">filter_alt_off</mat-icon>Clear Filters
          </button>
        </div>
      </ng-template>
      <!-- Else block for no products -->

      <div *ngIf="hasMoreProducts" class="load-more">
        <button type="button" mat-raised-button color="primary" (click)="loadMore()">
          Load More
        </button>
      </div>
    </div>
  </div>
</div>
